[submodule "CURSO_FLUTTER"]
	path = CURSO_FLUTTER
	url = https://github.com/Maeliodas/CURSO_FLUTTER
[submodule "FLUTTER_PROYECTOS/prueba"]
	path = FLUTTER_PROYECTOS/prueba
	url = https://github.com/Maeliodas/Maeliodas-MY.01_PROYECTOS.02_ACADEMICOS.03_P_N_P_P_M.PROYECTOS.FLUTTER_PROYECTOS.PRUEBA
[submodule "FLUTTER_PROYECTOS/yes_no_app"]
	path = FLUTTER_PROYECTOS/yes_no_app
	url = https://github.com/Maeliodas/MY.01_PROYECTOS.02_ACADEMICOS.03_P_N_P_P_M.PROYECTOS.FLUTTER_PROYECTOS.YES_NO_APP
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(01)_HOLA_MUNDO"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(01)_HOLA_MUNDO
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.01_HOLA_MUNDO
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(02)_VARIABLES"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(02)_VARIABLES
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.02_VARIABLES
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(03)_MAPAS"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(03)_MAPAS
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.03_MAPAS
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(04)_LISTA_ITERABLE_SET"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(04)_LISTA_ITERABLE_SET
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.04_LIST_IT_SE
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(05)_FUNCIONES"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(05)_FUNCIONES
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.05_FUNCIONES
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(06)_CLASES"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(06)_CLASES
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.06_CLASES
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(07)_CONSTRUCTORES_NOMBRADOS"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(07)_CONSTRUCTORES_NOMBRADOS
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.07_CONST_NOM
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(08)_SETTERS_Y_GETTERS"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(08)_SETTERS_Y_GETTERS
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.08_GET_Y_SET
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(09)_CLASES_ABSTRACTAS"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(09)_CLASES_ABSTRACTAS
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.09_CLASS_ABST
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(10)_MIXIN"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(10)_MIXIN
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.10_MIXIN
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(11)_FUTURE"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(11)_FUTURE
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.11_FUTURE
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(12)_ASYCN_AWAIT"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(12)_ASYCN_AWAIT
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.12_ASYCN_AWAI
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(13)_TRY_CATCH_ON_FINALLY"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(13)_TRY_CATCH_ON_FINALLY
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.13_T_C_O_F
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(14)_STREAM"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(14)_STREAM
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.14_STREAM
[submodule "FLUTTER_PROYECTOS/ARCHIVOS_DART/(15)_STREAM_CON_ASYNC_(ASTERISCO)"]
	path = FLUTTER_PROYECTOS/ARCHIVOS_DART/(15)_STREAM_CON_ASYNC_(ASTERISCO)
	url = https://github.com/Maeliodas/08_SEMESTRE_8.03_PROGRAMACION_NATIVA_PARA_PLATAFORMAS_MOV.ARCHIVOS_FUNDAMENTOS_DE_DART.15_S_ASYN_AST
